@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

.Project_title
{    
    height: 90vh;
    background-color: #2b2d2e;
    text-align: left;
    color: #d3d3d3;
    display: inline-block;
}
.Project_content
{
	background-color: #f4f4f4;
	display: inline-block;
	height: 90vh;
	font-family: 'Roboto Mono', monospace;
}
.project_item1
{
	display: inline-block;
    height: 40%;
    margin-top: 12%;
    margin-left: 9%;
	float:left;
	background-color: #f4f4f4;
	padding: 0px;
}
.project_item2
{
	display: inline-block;
    height: 40%;
    margin-top: 12%;
	float:left;
	background-color: #f4f4f4;
}
.project_item3
{
	display: inline-block;
    height: 40%;
    margin-left: 9%;
	float:left;
	background-color: #f4f4f4;
}
.project_item4
{
	display: inline-block;
    height: 40%;
	float:left;
	background-color: #f4f4f4;
}
.projects_title
{
	color: #333;
    bottom: 0;
    position: absolute;
    align-items: center;
    align-self: center;
    margin-left: 30%;
    margin-bottom: 10%;
    display: none;
    font-family: 'Roboto Mono', monospace;
}
.projects_title >h5
{
	font-family: 'Roboto Mono', monospace;
}
.project_item1:hover
{
	cursor: url(images/cursor_more.png), auto;
}
.project_item1:hover #hov1adda
{
	transition: all 0.35s ease-in-out;
	display: inline-block;
}
.project_item1:hover #adda_title
{
	display: block;
}
.project_item2:hover
{
	background-color: #ff5722a3;
	transition: all 0.35s ease-in-out;
}
.project_item2:hover #shoped_title
{
	display: block;
}
.project_item3:hover
{
	background-color: #ff5722a3;
	transition: all 0.35s ease-in-out;
}
.project_item3:hover #shoped_title
{
	display: block;
}
.project_item4:hover
{
	background-color: #ff5722a3;
	transition: all 0.35s ease-in-out;
}
.project_item4:hover #shoped_title
{
	display: block;
}
.project_head
{
	margin-top: 45%;
}
#adda
{
	padding-top: 15%;
	display: none;
}
#fuelscale
{
	padding-top: 15%;
	display: none;
}
#baas
{
	padding-top: 15%;
	display: none;
}
#shoped
{
	padding-top: 15%;
	display: none;
}
.knowmore
{
	background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 2.5%;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
}
.knowmore:hover
{
	background-color: #f91006;
	font-family: 'Roboto Mono', monospace;
	transition: all 0.35s ease-in-out;
}
/*--------- hover effect animation for members photos --------- */

.projectitem {
	display: block;
    width:50%;
    height: 40%;
	float:left;
}

.projectitem > a,
.projectitem img {
	display: block;
	outline: none;
	border: none;
	width:100%;
	cursor: url(../images/cursor_more.png), auto;
} 

.projectitem > a {
	position: relative;
	overflow: hidden;
}

/* Title */
.projectitem h6 {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	opacity:0;
}

.projectitem span{
	position: absolute;
	bottom: -1rem;
	left: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	opacity:1;
	font-family: 'familiar_probold', sans-serif;
    text-transform:uppercase;
    font-size:0.8rem;
    line-height: 1rem;
}
.teamcard
{
	/*height: 350px;*/ 
	background-color: #fff; 
	position: relative;
	display: inline-block;
	border: 15px solid #f4f4f4;
}
.projectcard:hover
{
	transform: scale(0.8);
	transition: all 0.35s ease-in-out;
/*	z-index: 1;
*/}
.teamcaption
{
	text-align: center;
	text-transform: none;

}
.teamoverlay 
{
	width: 100%; height: 100%; background-color: #ec212194; margin-left: -15px; 
	display: none;
	position: absolute;
}

.teamcard:hover .teamoverlay
{
	display: inline-block;
}
.imgdiv
{
	padding-left: 5%; padding-right: 5%; height: 80%;
}
.projectcard
{
	height: 50%;
	background-color: #f4f4f4;
/*	position: relative;
*/	display: inline-block;
}
.projectimg
{
 height: 100%;
}
.projectcard:hover .teamoverlay
{
	display: inline-block;
}
#projectmobile
	{
		display:none;
	}
@media only screen and (max-width: 500px) 
{
	#project
	{
		display: none;
	}
	#projectmobile
	{
		display: block;
		background-color: #f4f4f4;
	}
}

@media only screen and (max-width: 728px)
{
	.logowebgl
	{
		display: none;
	}
}








/* For Scroll down button */


@-webkit-keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 29%;
	}
	15% {
		opacity: 1;
		top: 50%;
	}
	50% {
		opacity: 0;
		top: 50%;
	}
	100% {
		opacity: 0;
		top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 29%;
	}
	15% {
		opacity: 1;
		top: 50%;
	}
	50% {
		opacity: 0;
		top: 50%;
	}
	100% {
		opacity: 0;
		top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
		opacity: 1;
		top: 29%;
	}
	15% {
		opacity: 1;
		top: 50%;
	}
	50% {
		opacity: 0;
		top: 50%;
	}
	100% {
		opacity: 0;
		top: 29%;
	}
}
.scroll-btn {
	display: block;
	position: absolute;
	left:50%;

	text-align: center;
	top: 90%;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 22.27px;
	height: 35px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1.4px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
