@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

.Project_title
{    
    height: 90vh;
    background-color: #2b2d2e;
    text-align: left;
    color: #d3d3d3;
    display: inline-block;
}
.Project_content
{
	background-color: #fff;	
	display: inline-block;
	height: 90vh;
	font-family: 'Roboto Mono', monospace;
}
.project_item1
{
	display: inline-block;
    height: 40%;
    margin-top: 12%;
    margin-left: 9%;
	float:left;
	background-color: #f4f4f4;
	padding: 0px;
}
.project_item2
{
	display: inline-block;
    height: 40%;
    margin-top: 12%;
	float:left;
	background-color: #f4f4f4;
}
.project_item3
{
	display: inline-block;
    height: 40%;
    margin-left: 9%;
	float:left;
	background-color: #f4f4f4;
}
.project_item4
{
	display: inline-block;
    height: 40%;
	float:left;
	background-color: #f4f4f4;
}
.projects_title
{
	color: #333;
    bottom: 0;
    position: absolute;
    align-items: center;
    align-self: center;
    margin-left: 30%;
    margin-bottom: 10%;
    display: none;
    font-family: 'Roboto Mono', monospace;
}
.projects_title >h5
{
	font-family: 'Roboto Mono', monospace;
}
.project_item1:hover
{
	cursor: url(images/cursor_more.png), auto;
}
.project_item1:hover #hov1adda
{
	transition: all 0.35s ease-in-out;
	display: inline-block;
}
.project_item1:hover #adda_title
{
	display: block;
}
.project_item2:hover
{
	background-color: #ff5722a3;
	transition: all 0.35s ease-in-out;
}
.project_item2:hover #shoped_title
{
	display: block;
}
.project_item3:hover
{
	background-color: #ff5722a3;
	transition: all 0.35s ease-in-out;
}
.project_item3:hover #shoped_title
{
	display: block;
}
.project_item4:hover
{
	background-color: #ff5722a3;
	transition: all 0.35s ease-in-out;
}
.project_item4:hover #shoped_title
{
	display: block;
}
.project_head
{
	margin-top: 45%;
}
#adda
{
	padding-top: 15%;
	display: none;
}
#fuelscale
{
	padding-top: 15%;
	display: none;
}
#baas
{
	padding-top: 15%;
	display: none;
}
#shoped
{
	padding-top: 15%;
	display: none;
}
.knowmore
{
	background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 2.5%;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
}
.knowmore:hover
{
	background-color: #ff5722a3;
	font-family: 'Roboto Mono', monospace;
	transition: all 0.35s ease-in-out;
}
/*--------- hover effect animation for members photos --------- */

.projectitem {
	display: block;
    width:50%;
    height: 40%;
	float:left;
}

.projectitem > a,
.projectitem img {
	display: block;
	outline: none;
	border: none;
	width:100%;
	cursor: url(../images/cursor_more.png), auto;
} 

.projectitem > a {
	position: relative;
	overflow: hidden;
}

/* Title */
.projectitem h6 {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	opacity:0;
}

.projectitem span{
	position: absolute;
	bottom: -1rem;
	left: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	opacity:1;
	font-family: 'familiar_probold', sans-serif;
    text-transform:uppercase;
    font-size:0.8rem;
    line-height: 1rem;
}
.teamcard
{
	/*height: 350px;*/ 
	background-color: #fff; 
	position: relative;
	display: inline-block;
	border: 10px solid #f4f4f4;
}
.projectcard:hover
{
	transform: scale(1.15);
	transition: all 0.35s ease-in-out;
}
.texmcaption
{
	text-align: center;
}
.teamoverlay
{
	width: 100%; height: 100%; background-color: #ec212194; margin-left: -15px; 
	display: none;
	position: absolute;
}
.teamcard:hover .teamoverlay
{
	display: inline-block;
}
.imgdiv
{
	padding-left: 5%; padding-right: 5%; height: 80%;
}
.projectcard
{
	height: 50%; 
	background-color: #fff; 
	position: relative;
	display: inline-block;
}
.projectimg
{
 height: 100%;
}
.projectcard:hover .teamoverlay
{
	display: inline-block;
}